* {
	/*background-color: rgba(0,0,0,.1);
	/*view tester*/
	/* 	margin: 0;
	padding: 0; */
}
/* FONTS & TEXT FORMAT */
* {
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
	line-height: 160%;
}
header h1 {
	font-family: 'Abril Fatface', serif;
	font-size: 70px;
	color: #222 grey;
	margin: 0;
	font-weight: regular;
} 
header p {
	font-family: 'Abril Fatface', serif;
	font-size: 36px;
	margin-bottom: -29px;
/* 	color: #222 grey; */
}
blockquote {
	font-family: 'Abril Fatface', serif;
	font-size: 47px;
	color: #fff;
	background-color: #444;
}
h2 {
	font-size: 23px;
	text-transform: uppercase;
	margin-bottom: 44px;
}
h3 {
	font-size: 22px;
	margin: 0 0 -4px;
}
h4 {
	font-family: 'Merriweather', serif;
	font-style: italic;
	margin: 0;
}
p {
	font-size: 95%;
}
p, li {
	letter-spacing: -1px;
}

/* CONTAINERS */
.container {
	width: 700px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
}
.higher-text-block {
	font-size: 129%;
}

/* LAYOUT */
body {
	margin: 0;
}
header {
	background: no-repeat #ddd center url("http://myfirstapp-syllabus.greenfox.academy/week01/assets/first-website-header.png");
	background-size: cover;
	border-top: 5px solid #666;
}

header .container {
	height: 350px;
	position: relative;
}

header .introduce {
	position: absolute;
	bottom: 35px;
}

/* main */
li {
	list-style-type: square;
}

blockquote {
	padding: 45px;
	margin-left: -45px;
	margin-right: -45px;
	box-sizing: border-box;
	position: relative;
}
blockquote::before {
	content: '”';
	transform: rotate(180deg);
	position: absolute;
	top: -43px;
	left: -1px;
	font-size: 148px;
}

hr {
	border-top: 4px solid #333;
	margin: 50px -20px;
}